h1 {
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 3px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}
span.sky-blue {
    color: skyblue;
}
span.pinky {
    color: rgb(255, 192, 203);
}
.decoration {
    font-family: "Arial", "Meiryo", sans-serif;
}
.google-fonts {
    font-family: "Josefin Sans", sans-serif;
}
html {
    font-size: 20px;
} /* ルート要素にremの基準となるサイズを指定 */
h1 {
    font-size: 2rem;
} /* 20px（２倍） */

#parent {
    text-align: center;
}
#child {
    font-weight: bold;
}
